option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: GoogleSignin.settings
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: GoogleSignin/wsgi.py
packages:
  yum:
    libpng-devel: []
    libjpeg-turbo-devel: []
    gcc-c++: []
    python34-devel: []
