{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FELT Dashboard</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
    <style type="text/css">
        
        .panel.with-nav-tabs .panel-heading{
            padding: 5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
                border-bottom: none;
        }
        .panel.with-nav-tabs .nav-justified{
                margin-bottom: -1px;
        }
        /********************************************************************/
        /*** PANEL DEFAULT ***/
        .with-nav-tabs.panel-default .nav-tabs > li > a,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
        }
        .with-nav-tabs.panel-default .nav-tabs > .open > a,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
                background-color: #ddd;
                border-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
                color: #555;
                background-color: #fff;
                border-color: #ddd;
                border-bottom-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
            background-color: #f5f5f5;
            border-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #777;   
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
            background-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #555;
        }
        .divide {
            border-right: 1px solid #ccc;
            padding-right: 10px;
            margin-right: -10px;
        }
        
    </style>
    <nav class="navbar navbar-default  navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:7px 0px 5px 15px;" href="#">
                    <img src="{% static 'Roche/roche-logo_1.png' %}" width="70" height="30" style="display: inline-block;">
                    <span style="display: inline-block; padding-top: 10px; padding-left: 15px;" >FELT Dashboard</span>
                </a>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                 <li><a href="/roche/home">Home</a></li>
                <li class="active"><a href="/roche/dashboard">Dashboard</a></li>
                <li><a href="/roche/BrrPriorityReport">BRR Priority Report</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                       Welcome, {{ user.username|title }}! &nbsp;<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/roche/logout"><i class="fa fa-btn fa-sign-out pull-left"></i>Logout</a></li>
                    </ul>
                </li>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    
    <div class="container" style="margin-top: 80px; ">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li ><a href="#tab1default" data-toggle="tab">Tableau Stacked Bar Chart</a></li>
                    <li class="active" id="stackedChartTab"><a href="#tab2default" data-toggle="tab">Custom Stacked Bar Chart</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Tableau Box Plot Chart</a></li>
                    <li><a href="#tab4default" data-toggle="tab" id="tab4atag">Custom Box Plot Chart</a></li>
                    <li><a href="#tab5default" data-toggle="tab" id="tab5atag">Custom Trend Chart</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                <div class="tab-pane fade" id="tab4default">
                <div class="row">
                <div class="panel">
                <div class="panel-body">
                  <div class="row">

                      <div class="col-lg-2">
                          <label for="from">From:</label>
                          <input type="date" class="form-control" id="bfrom" value="{{ mindate }}" >
                      </div>
                      <div class="col-lg-2 divide">
                          <label for="to">To:</label>
                          <input type="date" class="form-control" id="bto" value="{{ maxdate }}" >
                      </div>
                      <div class="col-lg-2 ">
                          <label for="to">Process:</label>
                          <select class="form-control" id="processName">
                              <option value="End to End">End to End</option>
                              <option value="PO Create to PO Release">PO Create to PO Release</option>
                              <option value="PO Release to Pkg Start">PO Release to Pkg Start</option>
                              <option value="Pkg Start to Pkg Finish">Pkg Start to Pkg Finish</option>
                              <option value="Pkg Finish to Pkg Final Check">Pkg Finish to Pkg Final Check</option>
                              <option value="Pkg Final Check to BRR Begin">Pkg Final Check to BRR Begin</option>
                              <option value="BRR Begin To BRR Finish">BRR Begin To BRR Finish</option>
                              <option value="BRR Finish to QP Release">BRR Finish to QP Release</option>
                          </select>
                          
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Family:</label>
                          <select class="form-control" id="bproduct" >
                              <option value="all">All</option>
                              {% for product in products %}
                              <option value='{{ product }}'>{{ product }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Name:</label>
                          <select class="form-control" id="bproduct_name" >
                              <option value="">All</option>
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Batch Number:</label>
                          <select class="form-control" id="bbatch_number" >
                              <option value="all">All</option>
                          </select>
                      </div>
                                           
                  </div>
                </div>
              </div>
                         
                      <div id="CustomBoxplot">
                            
                          </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="tab5default">
                <div class="row">
                <div class="panel">
                <div class="panel-body">
                  <div class="row">

                      <div class="col-lg-2">
                          <label for="from">From:</label>
                          <input type="date" class="form-control" id="sfrom" value="{{ mindate }}" >
                      </div>
                      <div class="col-lg-2 divide">
                          <label for="to">To:</label>
                          <input type="date" class="form-control" id="sto" value="{{ maxdate }}" >
                      </div>
                      <div class="col-lg-2 ">
                          <label for="to">Process:</label>
                          <select class="form-control" id="sprocessName">
                              <option value="End to End">End to End</option>
                              <option value="PO Create to PO Release">PO Create to PO Release</option>
                              <option value="PO Release to Pkg Start">PO Release to Pkg Start</option>
                              <option value="Pkg Start to Pkg Finish">Pkg Start to Pkg Finish</option>
                              <option value="Pkg Finish to Pkg Final Check">Pkg Finish to Pkg Final Check</option>
                              <option value="Pkg Final Check to BRR Begin">Pkg Final Check to BRR Begin</option>
                              <option value="BRR Begin To BRR Finish">BRR Begin To BRR Finish</option>
                              <option value="BRR Finish to QP Release">BRR Finish to QP Release</option>
                          </select>
                          
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Family:</label>
                          <select class="form-control" id="sproduct" >
                              <option value="all">All</option>
                              {% for product in products %}
                              <option value='{{ product }}'>{{ product }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Name:</label>
                          <select class="form-control" id="sproduct_name" >
                              <option value="">All</option>
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Batch Number:</label>
                          <select class="form-control" id="sbatch_number" >
                              <option value="all">All</option>
                          </select>
                      </div>
                                           
                  </div>
                </div>
              </div>
                         
                      <div id="CustomLineChart">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                       function drawCurveTypes() {
                            var data;
                            $.getJSON('/roche/GetLineChartDetails/', {'product_name': $('#sproduct_name').val(),'product' : $('#sproduct').val(),'batch_number': $('#sbatch_number').val(),'fromDate': $('#sfrom').val(),'toDate': $('#sto').val(), 'processName': $('#sprocessName').val() } ,function(json) {

                              var data = new google.visualization.DataTable();
                                data.addColumn('string', 'Process Creation Date (Month)');
                                data.addColumn('number', $('#sprocessName').val());
                                //alert(json);
                                for ( var i= 0; i < json.length; i++)
                                 {
                                   //document.write(json[i]);
                                   data.addRow([json[i][0],json[i][1]]);
                                 }
                                

                                var options = {
                                         title: "Line Chart",
                                         legend: { position: 'right', title: $('#sprocessName').val() },
                                         width: 1100,
                                         height: 500,
                                       };

                                var chart = new google.visualization.LineChart(document.getElementById('CustomLineChart'));
                                chart.draw(data, options);

                            });
                                
                              }
                        </script>
                     </div>
                    </div>
            </div>
            <div class="tab-pane fade" id="tab1default">
                <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1298px; height: 573px;'><object class='tableauViz' width='100%' height='573' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;solivarlabs' /><param name='name' value='StackedBarChart&#47;StackedBarChart' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='showShareOptions' value='true' /></object></div>
              </div>
              <div class="tab-pane fade in active" id="tab2default">
              <div class="panel">
                <div class="panel-body">
                  <div class="row">              
                      <div class="col-lg-2">
                          <label for="from">From:</label>
                          <input type="date" class="form-control" id="from" value="{{ mindate }}">
                      </div>
                      <div class="col-lg-2 divide">
                          <label for="to">To:</label>
                          <input type="date" class="form-control" id="to" value="{{ maxdate }}">
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Family:</label>
                          <select class="form-control" id="product">
                              <option value="all">All</option>
                              {% for product in products %}
                              <option value='{{ product }}'>{{ product }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Name:</label>
                          <select class="form-control" id="product_name">
                              <option value="">All</option>
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Batch Number:</label>
                          <select class="form-control" id="batch_number">
                              <option value="all">All</option>
                          </select>
                      </div>
                     
                  </div>
                </div>
              </div>
                
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                                google.charts.load('current', {'packages':['corechart']});
                                google.charts.setOnLoadCallback(drawChart);

                                function drawChart() {
                                             //alert(json);
                             // Define the chart to be drawn.
                                var data = new google.visualization.DataTable();
                                var Data = {{ rdata|safe }};
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                          
                                  for ( var i= 0; i < Data.length; i++)
                                  {
                                    //document.write(Data[i]);
                                    data.addRow([Data[i][0],Data[i][1],Data[i][2],Data[i][3],Data[i][4],Data[i][5],Data[i][6],Data[i][7]]);
                                  }
                             var options = {
                                    title: "Stack Bar Chart for all Products"+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Product Family"},
                                    hAxis: {title: "Days", viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 6 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);
                          }

                          //google.charts.setOnLoadCallback(drawChart);
                    </script>

                    <script type="text/javascript">

                        function drawChart2() {
                            var data;
                            $.getJSON('/roche/ProductNameChartDetails/', {'product': $('#product').val() ,'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for" + " " + $('#product').val()+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Product Family"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart3() {
                            var data;
                            $.getJSON('/roche/BatchNumberChartDetails/', {'product_name': $('#product_name').val(),'product' : $('#product').val() ,'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for Batch Numbers of Product" + " " + $('#product_name').val()+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Batch Number"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart4() {
                            var data;
                            $.getJSON('/roche/BatchNumberChartDetailsFinal/', {'product_name': $('#product_name').val(),'product' : $('#product').val(),'batch_number': $('#batch_number').val(),'fromDate': $('#from').val(),'toDate': $('#to').val()  } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for Batch Number " + " " + $('#batch_number').val() + "of Product " + $('#product_name').val() + " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Batch Number"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart5() {
                            var data;
                            $.getJSON('/roche/ChartWithDate/', {'product_name': $('#product_name').val(),'product' : $('#product').val(),'batch_number': $('#batch_number').val(),'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart" + " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Products"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">
                          function drawBoxPlot() {
                            $.getJSON('/roche/BoxPlotChart/', {'product_name': $('#bproduct_name').val(),'product' : $('#bproduct').val(),'batch_number': $('#bbatch_number').val(),'fromDate': $('#bfrom').val(),'toDate': $('#bto').val(), 'processName': $('#processName').val() } ,function(json) { 
                              var data = new google.visualization.DataTable();
                                    data.addColumn('string', 'x');
                                    data.addColumn('number', 'Min');
                                    data.addColumn('number', 'Max');
                                    data.addColumn('number', 'firstQuartile');
                                    data.addColumn('number', 'Mean');
                                    data.addColumn('number', 'thirdQuartile');
                                    data.addColumn({id:'min', type:'number', role:'interval'});
                                    data.addColumn({id:'max', type:'number', role:'interval'});
                                    data.addColumn({id:'firstQuartile', type:'number', role:'interval'});
                                    data.addColumn({id:'median', type:'number', role:'interval'});
                                    data.addColumn({id:'thirdQuartile', type:'number', role:'interval'});
                                    //data.addRows(getBoxPlotValues(json));
                                    for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                              // data.addRow([json[i][0],json[i][1],json[i][2],json[i][4],json[i][3],json[i][5],json[i][1],json[i][2],json[i][4],json[i][3],json[i][5]]);
                                               data.addRow([json[i]['element'],json[i]['min'],json[i]['max'],json[i]['Q1'],json[i]['median'],json[i]['Q3'],json[i]['min'],json[i]['max'],json[i]['Q1'],json[i]['median'],json[i]['Q3']]);
                                             }
                                  var p = $('#bproduct').val();
                                  var pn = $('#bproduct_name').val();
                                  var bn = $('#bbatch_number').val();
                                  var pro = $('#processName').val();
                                  var s;
                                  if (p == "all" || p == "All"){
                                      s = "Box Plot Chart for " + "all Products " + " ( "+pro+" )" + " from "+$('#bfrom').val()+ " to "+ $('#bto').val();
                                  }
                                  else if ((p != "all" || p != "All") && (pn == "All" || pn == "all" || pn == ""))
                                  {
                                        s ="Box Plot Chart for " + "all Products of "+ p + " "+" ( "+pro+" )"+ "  from "+$('#bfrom').val()+ " to "+ $('#bto').val() ;
                                      }
                                  else if ((pn != "all" || p != "All") && (bn == "all" || bn == "All"))
                                    {
                                     s ="Box Plot Chart for " + "all batches of Product "+ pn + " "+ " ( "+pro+" )"+ "  from "+$('#bfrom').val()+ " to "+ $('#bto').val();

                                     }
                                  else if (bn != "all" || bn !="All")
                                     {
                                      s ="Box Plot Chart for " + "Prodcut "+ pn +" "+ "Batch "+ bn + " "+ " ( "+pro+" )"+ "  from "+$('#bfrom').val()+ " to "+ $('#bto').val();
                                     } 
                                  
                                   
                                   var options = {
                                        title: s,
                                        height: 500,
                                        width: 1200,
                                        legend: {position: 'none'},
                                        hAxis: {

                                          gridlines: {color: 'transparent'}
                                        },
                                        vAxis:{
                                          viewWindow: { min : -10 },
                                          gridlines: {color: 'transparent'},
                                        },
                                        lineWidth: 0,
                                        series: [{'color': '#D3882D'}],
                                        intervals: {
                                          barWidth: 1,
                                          boxWidth: 1,
                                          lineWidth: 2,
                                          style: 'boxes'
                                        },
                                        interval: {
                                          max: {
                                            style: 'bars',
                                            fillOpacity: 1,
                                            color: '#557'
                                          },
                                          min: {
                                            style: 'bars',
                                            fillOpacity: 1,
                                            color: '#557'
                                          }
                                        }
                                    };

                                    var chart = new google.visualization.LineChart(document.getElementById('CustomBoxplot'));

                                    chart.draw(data, options);
                            });

                          }
                    </script>

                        <div id="stackedbar_div">
                            
                        </div>
              </div>
                    <div class="tab-pane fade" id="tab3default">
                        <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1298px; height: 573px;'><object class='tableauViz' width='100%' height='573' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;solivarlabs' /><param name='name' value='StackedBarChart&#47;BoxPlotChart' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='showShareOptions' value='true' /></object></div>
                    </div>

                </div>
            </div>
        </div>    
        
    </div>
    
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" >
$("#from").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart5();
                    }

                );
});
</script>
<script type="text/javascript" >
$("#tab4atag").click(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );
});
</script>
<script type="text/javascript" >
$("#tab5atag").click(function(event)
{
 google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                        
                    }

                );
});
</script>
<script type="text/javascript">
  $("#to").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart5();
                    }

                );
});

</script>
<script type="text/javascript" >
$("#sfrom").change(function(event)
{
google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                    }

                );
});
</script>
<script type="text/javascript" >
$("#bfrom").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );
});
</script>
<script type="text/javascript">
  $("#bto").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );
});

</script>
<script type="text/javascript">
  $("#sto").change(function(event)
{
google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                    }

                );
});

</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#product').change(function(){
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart2();
                    }

                );

                $.ajax({
                    method: 'get',
                    url: "/roche/ProductDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#product').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#product_name").empty();
                        $("#product_name").append($('<option>',{value: "All",text: "All"}));
                        $("#batch_number").empty();
                        $("#batch_number").append($('<option>',{value: "All",text: "All"}));
                        //$('#product_name').trigger('change');
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#product_name").append($('<option>',{value: name,text: name}));

                        }                      
                        
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#bproduct').change(function(){
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );

                $.ajax({
                    method: 'get',
                    url: "/roche/ProductDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#bproduct').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#bproduct_name").empty();
                        $("#bproduct_name").append($('<option>',{value: "All",text: "All"}));
                        $("#bbatch_number").empty();
                        $("#bbatch_number").append($('<option>',{value: "All",text: "All"}));
                        //$('#product_name').trigger('change');
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#bproduct_name").append($('<option>',{value: name,text: name}));

                        }                      
                        
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#sproduct').change(function(){
                google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                    }

                );

                $.ajax({
                    method: 'get',
                    url: "/roche/ProductDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#sproduct').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#sproduct_name").empty();
                        $("#sproduct_name").append($('<option>',{value: "All",text: "All"}));
                        $("#sbatch_number").empty();
                        $("#sbatch_number").append($('<option>',{value: "All",text: "All"}));
                        //$('#product_name').trigger('change');
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#sproduct_name").append($('<option>',{value: name,text: name}));

                        }                      
                        
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#product_name').change(function(){

            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart3();
                    }

                );

                //document.write(input['product']);
                $.ajax({
                    method: 'get',
                    url: "/roche/BatchDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#product_name').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#batch_number").empty();
                        $("#batch_number").append($('<option>',{value: "All",text: "All"}));
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#batch_number").append($('<option>',{value: name,text: name}));

                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#bproduct_name').change(function(){

            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );

                //document.write(input['product']);
                $.ajax({
                    method: 'get',
                    url: "/roche/BatchDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#bproduct_name').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#bbatch_number").empty();
                        $("#bbatch_number").append($('<option>',{value: "All",text: "All"}));
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#bbatch_number").append($('<option>',{value: name,text: name}));

                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#sproduct_name').change(function(){

            google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                    }

                );

                //document.write(input['product']);
                $.ajax({
                    method: 'get',
                    url: "/roche/BatchDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#sproduct_name').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#sbatch_number").empty();
                        $("#sbatch_number").append($('<option>',{value: "All",text: "All"}));
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#sbatch_number").append($('<option>',{value: name,text: name}));

                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#bbatch_number').change(function(){
            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                    }

                );

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#sbatch_number').change(function(){
            google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                    }

                );

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#batch_number').change(function(){
            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart4();
                    }

                );

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#processName').change(function(){
            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawBoxPlot();
                        
                    }

                );

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#sprocessName').change(function(){
            google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(function (){
                        drawCurveTypes();
                        
                    }

                );

            });
        });
</script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript">
</body>
</html>