{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FELT Dashboard</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<!-- Optional Bootstrap theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
    <style type="text/css">
        
        .panel.with-nav-tabs .panel-heading{
            padding: 5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
                border-bottom: none;
        }
        .panel.with-nav-tabs .nav-justified{
                margin-bottom: -1px;
        }
        /********************************************************************/
        /*** PANEL DEFAULT ***/
        .with-nav-tabs.panel-default .nav-tabs > li > a,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
        }
        .with-nav-tabs.panel-default .nav-tabs > .open > a,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
                background-color: #ddd;
                border-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
                color: #555;
                background-color: #fff;
                border-color: #ddd;
                border-bottom-color: transparent;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
            background-color: #f5f5f5;
            border-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #777;   
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
            background-color: #ddd;
        }
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #555;
        }
        .divide {
            border-right: 1px solid #ccc;
            padding-right: 10px;
            margin-right: -10px;
        }
        
    </style>
    <nav class="navbar navbar-default  navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:7px 0px 5px 15px;" href="#">
                    <img src="{% static 'Roche/roche-logo_1.png' %}" width="70" height="30" style="display: inline-block;">
                    <span style="display: inline-block; padding-top: 10px; padding-left: 15px;" >FELT Dashboard</span>
                </a>
                
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                 <li><a href="/roche/home">Home</a></li>
                <li class="active"><a href="/roche/dashboard">Dashboard</a></li>
                <li><a href="/roche/BrrPriorityReport">BRR Priority Report</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                       Welcome, {{ user.username|title }}! &nbsp;<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/roche/logout"><i class="fa fa-btn fa-sign-out pull-left"></i>Logout</a></li>
                    </ul>
                </li>
                </li>
              </ul>
            </div>
        </div>
    </nav>
    
    <div class="container" style="margin-top: 80px; ">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li ><a href="#tab1default" data-toggle="tab">Tableau</a></li>
                    <li class="active" id="stackedChartTab"><a href="#tab2default" data-toggle="tab">Stacked Bar Chart</a></li>
                    <li><a href="#tab3default" data-toggle="tab">Box Plot</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="tab1default">
                        <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
                        <div class='tableauPlaceholder' style='width: 80%;'>
                            <object class='tableauViz' width='100%' height='655' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
                                <param name='site_root' value='&#47;t&#47;solivarlabsroche' />
                                <param name='name' value='Stackedchart3&#47;Sheet1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='showAppBanner' value='false' />
                                <param name='showShareOptions' value='true' />
                            </object>
                        </div>
                    </div>
              <div class="tab-pane fade in active" id="tab2default">
              <div class="panel">
                <div class="panel-body">
                  <div class="row">              
                      <div class="col-lg-2">
                          <label for="from">From:</label>
                          <input type="date" class="form-control" id="from" value="{{ mindate }}">
                      </div>
                      <div class="col-lg-2 divide">
                          <label for="to">To:</label>
                          <input type="date" class="form-control" id="to" value="{{ maxdate }}">
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Family:</label>
                          <select class="form-control" id="product">
                              <option value="all">All</option>
                              {% for product in products %}
                              <option value='{{ product }}'>{{ product }}</option>
                              {% endfor %}
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Product Name:</label>
                          <select class="form-control" id="product_name">
                              <option value="">All</option>
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Batch Number:</label>
                          <select class="form-control" id="batch_number">
                              <option value="all">All</option>
                          </select>
                      </div>
                      <div class="col-lg-2">
                          <label for="to">Process:</label>
                          <select class="form-control" id="batch_number">
                              <option value="all">All</option>
                              <option value="all">End to End</option>
                              <option value="all">PO Create to PO Release</option>
                              <option value="all">PO Release to Pkg Start</option>
                              <option value="all">Pkg Start to Pkg Finish</option>
                              <option value="all">Pkg Finish to Pkg Final Check</option>
                              <option value="all">Pkg Final Check to BRR Begin</option>
                              <option value="all">BRR Begin To BRR Finish</option>
                              <option value="all">BRR Finish to QP Release</option>
                          </select>
                      </div>
                  </div>
                </div>
              </div>
                
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                                google.charts.load('current', {'packages':['corechart']});
                                google.charts.setOnLoadCallback(drawChart);

                                function drawChart() {
                                             //alert(json);
                             // Define the chart to be drawn.
                                var data = new google.visualization.DataTable();
                                var Data = {{ rdata|safe }};
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                          
                                  for ( var i= 0; i < Data.length; i++)
                                  {
                                    //document.write(Data[i]);
                                    data.addRow([Data[i][0],Data[i][1],Data[i][2],Data[i][3],Data[i][4],Data[i][5],Data[i][6],Data[i][7]]);
                                  }
                             var options = {
                                    title: "Stack Bar Chart for Product Family"+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Product"},
                                    hAxis: {title: "Days", viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);
                          }

                          //google.charts.setOnLoadCallback(drawChart);
                    </script>

                    <script type="text/javascript">

                        function drawChart2() {
                            var data;
                            $.getJSON('/roche/ProductNameChartDetails/', {'product': $('#product').val() ,'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for" + " " + $('#product').val()+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Product Name"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart3() {
                            var data;
                            $.getJSON('/roche/BatchNumberChartDetails/', {'product_name': $('#product_name').val(),'product' : $('#product').val() ,'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for Batch Numbers of Product" + " " + $('#product').val()+ " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Batch Number"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart4() {
                            var data;
                            $.getJSON('/roche/BatchNumberChartDetailsFinal/', {'product_name': $('#product_name').val(),'product' : $('#product').val(),'batch_number': $('#batch_number').val(),'fromDate': $('#from').val(),'toDate': $('#to').val()  } ,function(json) {
                                             //alert(json);
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart for Batch Number " + " " + $('#batch_number').val() + "of Product " + $('#product_name').val() + " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Batch Number"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>
                    <script type="text/javascript">

                        function drawChart5() {
                            var data;
                            $.getJSON('/roche/ChartWithDate/', {'product_name': $('#product_name').val(),'product' : $('#product').val(),'batch_number': $('#batch_number').val(),'fromDate': $('#from').val(),'toDate': $('#to').val() } ,function(json) {
                                             data = new google.visualization.DataTable();
                                             data.addColumn('string', 'ProductName');
                                             data.addColumn('number', 'PO Create to PO Release');
                                             data.addColumn('number', 'PO Release to Pkg Start');
                                             data.addColumn('number', 'Pkg Start to Pkg Finish');
                                             data.addColumn('number', 'Pkg Finish to Pkg Final Check');
                                             data.addColumn('number', 'Pkg Final Check to BRR Begin');
                                             data.addColumn('number', 'BRR Begin To BRR Finish');
                                             data.addColumn('number', 'BRR Finish to QP Release');
                                             //alert(data);
                                             for ( var i= 0; i < json.length; i++)
                                             {
                                               //document.write(json[i]);
                                               data.addRow([json[i][0],json[i][1],json[i][2],json[i][3],json[i][4],json[i][5],json[i][6],json[i][7]]);
                                             }


                                             var options = {
                                    title: "Stack Bar Chart" + " "+" From "+$('#from').val() +" " + " "+" To"+ " " + $('#to').val(),
                                    vAxis: {title: "Products"},
                                    hAxis : {title: "Days",viewWindow: { min : 0 }},
                                    isStacked:true,
                                    width: 1000,
                                    height: 500,
                                    legend: { position: 'right', maxLines: 3 },
                                    bar: { groupWidth: '75%' },
                                };  

                             // Instantiate and draw the chart.
                             var chart = new google.visualization.BarChart(document.getElementById('stackedbar_div'));
                             chart.draw(data, options);

                            });                             
                          }
                             
                    </script>

                        <div id="stackedbar_div">
                            
                        </div>
              </div>
                    <div class="tab-pane fade" id="tab3default">
                        <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script>
                        <div class='tableauPlaceholder' style='width: 1523px; height: 655px;'>
                            <object class='tableauViz' width='100%' height='655' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
                                <param name='site_root' value='&#47;t&#47;solivarlabsroche' />
                                <param name='name' value='Stackedchart3&#47;Boxplot' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='showAppBanner' value='false' />
                                <param name='showShareOptions' value='true' />
                            </object>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        
    </div>
    
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" >
$("#from").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart5();
                    }

                );
});
</script>
<script type="text/javascript">
  $("#to").change(function(event)
{
 google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart5();
                    }

                );
});
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#product').change(function(){
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart2();
                    }

                );

                $.ajax({
                    method: 'get',
                    url: "/roche/ProductDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#product').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#product_name").empty();
                        $("#product_name").append($('<option>',{value: "All",text: "All"}));
                        $("#batch_number").empty();
                        $("#batch_number").append($('<option>',{value: "All",text: "All"}));
                        //$('#product_name').trigger('change');
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#product_name").append($('<option>',{value: name,text: name}));

                        }                      
                        
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>
<script type="text/javascript" >
$( document ).ready(function() {
            $('#product_name').change(function(){

            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart3();
                    }

                );

                //document.write(input['product']);
                $.ajax({
                    method: 'get',
                    url: "/roche/BatchDetails/",
                    dataType: 'json',
                    data: {
                        'product_name': $('#product_name').val() 
                    },
                    success : function(response){
                        //alert(response);
                        $("#batch_number").empty();
                        $("#batch_number").append($('<option>',{value: "All",text: "All"}));
                        for(var i= 0; i< response.length; i++ )
                        {
                            var name = response[i];
                            //document.write(name);
                            $("#batch_number").append($('<option>',{value: name,text: name}));

                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus+ '  ' + errorThrown);
                    }
                });

            });
        });
</script>

<script type="text/javascript" >
$( document ).ready(function() {
            $('#batch_number').change(function(){
            google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function (){
                        drawChart4();
                    }

                );

            });
        });
</script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript">
</body>
</html>